<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url={{ redirectUrl }}">
  <script>window.location.href = "{{ redirectUrl }}";</script>
</head>
<body>
  Redirecting to <a href="{{ redirectUrl }}">{{ lang }}</a>...
</body>
</html>